In [2]:
import pandas as pd
import numpy as np

data = pd.DataFrame({
    'AAPL': [100, 110, 105, 115],
    'MSFT': [200, 210, 205, 215]
}, index=pd.date_range(start='2020-01-01', periods=4, freq='M'))

data
expected_returns = np.log(data.div(data.shift(1)))[1:]

In [3]:
expected_returns

                AAPL      MSFT
2020-02-29  0.095310  0.048790
2020-03-31 -0.046520 -0.024098
2020-04-30  0.090972  0.047628

In [29]:
# Tworzenie MultiIndex dla kolumn
tuples = [('Close', 'AAPL'), ('Close', 'MSFT')]
columns = pd.MultiIndex.from_tuples(tuples, names=['Info', 'Ticker'])

# Tworzenie mockowanych danych
mock_data = pd.DataFrame(
    [[150.75, 200.50], [153.31, 202.30]], 
    index=pd.date_range(start='2023-01-01', periods=2, freq='1M'),
    columns=columns
)

In [31]:
mock_data['Close']

Ticker        AAPL   MSFT
2023-01-31  150.75  200.5
2023-02-28  153.31  202.3

In [25]:
mock_data = pd.DataFrame({
    'AAPL': {'Close': [150.75, 153.31], 'Open' : [149.75, 152.31]},
    'MSFT': {'Close': [200.50, 202.30], 'Open' : [200.50, 202.30]}
}, index=pd.date_range(start='2023-01-01', periods=2, freq='1M'))

mock_data

            AAPL  MSFT
2023-01-31   NaN   NaN
2023-02-28   NaN   NaN

In [27]:
import yfinance as yf
df = yf.download('AAPL, MSFT', start='2023-01-01', interval='1mo')['Close']
df.index = pd.to_datetime(df.index)

[*********************100%%**********************]  2 of 2 completed

In [28]:
df

                  AAPL        MSFT
Date
2023-01-01  144.289993  247.809998
2023-02-01  147.410004  249.419998
2023-03-01  164.899994  288.299988
2023-04-01  169.679993  307.260010
2023-05-01  177.250000  328.390015
2023-06-01  193.970001  340.540009
2023-07-01  196.449997  335.920013
2023-08-01  187.869995  327.760010
2023-09-01  171.210007  315.750000
2023-10-01  170.770004  338.109985
2023-11-01  189.970001  377.429993

In [33]:
us500_table = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]
tickers = us500_table['Symbol'].to_list()
len(tickers)

503